
input.form-control {
    margin-top: 5px;
}

div.form-group {
    margin-top: 12px;
}

select.form-control {
    margin-top: 5px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

div.load_div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    height: 700px;
    background-color: #DFC393;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

button.submit-btn {
    position: absolute;
    bottom: 1em;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.image-div {
    background-image: url("../images/MARS27.png");
    width: 150px;
    height: 50px;
}

img.image {
    background-color: lavenderblush;
    padding: 2em 2em 2em 2em;
    border-radius: 2em;
}

div.image-adult {
    background-image: url("static/images/marsianin.png");
    width: 660px;
    height: 680px;
}

div.image-adult {
    background-image: url("static/images/marsian.png");
    width: 660px;
    height: 680px;
}

p.heading-p {
    text-align: center;
    background-color: lightgray;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin: 0;
}

div.centered_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.person-image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}