.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #DFC393;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

input.form-control {
    margin-top: 5px;
}

div.form-group {
    margin-top: 12px;
}

select.form-control {
    margin-top: 5px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

div.load_div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    height: 700px;
    background-color: #DFC393;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

button.submit-btn {
    position: absolute;
    bottom: 1em;
}