{% extends "test_base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/css/another_css.css">
    <h1 class="t1">Наши сайты</h1>
    <div>
        <a class="widget-link" href="/sites/1">
            <div class="widget" >
                <h1>Сайт для продажи</h1>
                <h3>На этом сайте вы сможете продавать всевозможные предметы,</h3>
                <h3>предоставлять услуги, даже вывешивать обьявления по сдаче квартир, участков и т.п.</h3>
            </div>
        </a>

        <a class="widget-link" href="/sites/1">
            <div class="widget" >
                <h1>Сайт для продажи</h1>
                <h3>На этом сайте вы сможете продавать всевозможные предметы,</h3>
                <h3>предоставлять услуги, даже вывешивать обьявления по сдаче квартир, участков и т.п.</h3>
            </div>
        </a>

        <a class="widget-link" href="/sites/1">
            <div class="widget" >
                <h1>Сайт для продажи</h1>
                <h3>На этом сайте вы сможете продавать всевозможные предметы,</h3>
                <h3>предоставлять услуги, даже вывешивать обьявления по сдаче квартир, участков и т.п.</h3>
            </div>
        </a>

        <a class="widget-link" href="/sites/1">
            <div class="widget" >
                <h1>Сайт для продажи</h1>
                <h3>На этом сайте вы сможете продавать всевозможные предметы,</h3>
                <h3>предоставлять услуги, даже вывешивать обьявления по сдаче квартир, участков и т.п.</h3>
            </div>
        </a>

        <a class="widget-link" href="/sites/1">
            <div class="widget" >
                <h1>Сайт для продажи</h1>
                <h3>На этом сайте вы сможете продавать всевозможные предметы,</h3>
                <h3>предоставлять услуги, даже вывешивать обьявления по сдаче квартир, участков и т.п.</h3>
            </div>
        </a>
    </div>
{% endblock %}