{% extends "base.html" %}

{% block content %}
    <h1><b>Моё предложение: Юпитер</b></h1>
    <div><h2>Эта планета далека к Земле;</h2></div>
    <div class="alert alert-warning"><h2>На ней много всяких ресурсов;</h2></div>
    <div class="alert alert-success"><h2>На ней нет воды и атмосферы;</h2></div>
    <div class="alert alert-info"><h2>На ней есть большое магнитное поле;</h2></div>
    <div class="alert alert-danger"><h2>И на ней невозможно выжить, из-за силы тяжести!</h2></div>
{% endblock %}